* {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    background-color: rgb(245, 245, 153);
}
  
header, main {
  text-align: center;
}

h1, h2 {
  color: blue;
}

ul, .instructions {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

ol {
  padding: 0 20px
}

.bold {
  font-weight: bold;
  color: blue
}

button {
  margin: auto;
  font-weight: bold;
  border-color: blue;
  border-radius: 5px;
  color: red;
}

#js-error-message, .error {
    color: red;
    font-weight: bold;
}
  
.hidden {
  display: none;
}

.mealRecipeResults, .cook, .drink {
  border: 1px solid blue;
  border-radius: 5px;
  padding: 0 10px 10px;
  margin: 5px;
}

button {
  display: block;
}